:root {
  font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100%;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer"  
  ;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr 70px;
  background: black;
}

.header {
  grid-area: header;
  height: 70px;
  background: black;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #2d3436;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.header__search {
  width: 30%;
  display: flex;
  align-items: center;
}

.header__search > i {
  position: absolute;
  margin-left: 1.2em;
  color: #636e72;
}

.header__searchbar {
  padding: .8em;
  padding-left: 4em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #636e72;
  width: 100%;
  background: #242424;
  font-size: 1em;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #2d3436;
  height: 100vh;
  width: 240px;
  position: fixed;
}

.sidebar__nav {
  padding: .5em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2d3436;
  position: relative;
  width: 100%;
}

.sidebar__nav-item {
  display: flex;
  color: white;
  align-items: center;
  gap: 1em;
  padding: .8em;
  border-radius: 10px;
}

.sidebar__nav-item:hover {
  background: #636e72;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2em auto;
  background: black;
}

.main--covered {
  overflow-y: hidden;
}

.categories {
  display: flex;
  max-width: 80vw;
  gap: 10px;
  margin-bottom: 2em;
  overflow-x: auto;
  text-wrap: nowrap;
}

.categories__item {
  font-size: 14px;
  background: #2d3436;
  color: white;
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 1em;
}

.categories__item:hover {
  background: #636e72;
}

.listen-again {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5em;
}

.listen-again__description {
  display: flex;
  align-items: center;
  gap: 1em;
}

.listen-again__description-photo {
  border-radius: 50px;
  height: 60px;
}

.listen-again__description-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

.listen-again__description-title h3 {
  color: #95a5a6;
  font-weight: lighter;
  line-height: 0.8;
  font-size: 1em;
  letter-spacing: 1px;
}

.listen-again__description-title h2 {
  font-size: 2em;
  color: white;
}

.listen-again__description-title h2, .listen-again__description-title h3 {
  margin: 0;
}

.listen-again__description-buttons {
  display: flex;
  gap: 1em;
  flex-grow: 1;
  align-self: flex-end;
  justify-content: right;
  align-items: center;
}

.listen-again__description-buttons i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #0f0f0f;
  border: 1px solid hsl(0,0%,18.82%);
  color: white;
  cursor: pointer;
}

.music-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  max-width: 80vw;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1em;
  padding: 1em 0;
}

.music-list::-webkit-scrollbar {
  height: 10px;
}

.music-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.music-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.music-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 14px;
  border-radius: 10px;
  text-align: left;
  min-width: 250px;
  overflow-y: hidden;
  max-height: 300px;
}

.music-card:last-child {
  margin-right: 0;
}

.music-card__photo {
  border-radius: 10px;
  height: 60%;
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.music-card__photo::before, .music-card__photo--playing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: .3s all;
}

.music-card__photo i, .music-card__photo--playing i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  opacity: 0;
  transition: .3s all;
}

.music-card__photo--playing::before {
  opacity: 1;
}

.music-card__photo--playing i {
  opacity: 1;
} 

.music-card__photo img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.music-card__photo:hover::before, .music-card__photo:hover i {
  opacity: 1;
}

.music-card__description {
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Preview */

.preview__container {
  grid-area: main;
  position: sticky;
  top: 70px;
  background: black;
  height: 90vh;
  width: 100%;
  display: flex;
  padding: 2em 3em;
  justify-content: space-between;
  overflow: hidden;
}

.preview__media-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.preview__img {
  max-height: 95%;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
}

.preview__img::after {
  content: 'asdasdasd';
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}

.preview__playlist {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.preview__playlist-option {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.preview__playlist-options {
  cursor: pointer;
  border-bottom: 1px solid #2d3436;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
}

.preview__playlist-option--selected {
  border-bottom: 1px solid #fff;
}

.preview__playlist-next {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
}

.preview__playlist-next::-webkit-scrollbar {
  width: 5px;
}

.preview__playlist-next::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.preview__playlist-next::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.preview__playlist-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #2d3436;
  padding: 5px 10px;
  border-radius: 5px;
}

.preview__playlist-item--active {
  background: #80808080;
}

.preview__playlist-item > div {
  display: flex;
  gap: 1em;
  max-width: 80%;
  align-items: center;
}

.preview__playlist-item-data {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.preview__playlist-item-data b {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}

.preview__playlist-item-cover {
  width: 35px;
  max-height: 35px;
  background: black;
}

.preview__playlist-item-artist {
  color: #95a5a6;
}

.preview__container--mini {
  display: flex;
  position: fixed;
  width: 15%;
  height: 220px;
  margin: 1em;
  border-radius: 5px;
  overflow: hidden;
  bottom: 80px;
  right: 0;
}

.preview__img--mini {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Footer */

.player {
  grid-area: footer;
  background: #242424;
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
}

.player__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  margin-top: 5px;
}

.player__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  height: 100%;
  width: 100%;
}

.player__info-cover {
  width: 50px;
  height: 75%;
}

.player__info-title {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.player__progress {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #7f8c8d;
  cursor: pointer;
}

.player__progress input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.3);
}

.player__controls {
  display: flex;
  align-items: center;
  gap: 2em;
  cursor: pointer;
  font-size: 16px;
}

.player__controls .fa-backward-step, .player__controls .fa-step-forward {
  font-size: 20px;
}

.player__controls .fa-pause, .player__controls .fa-play {
  font-size: 2em;
  width: 25px;
  text-align: center;
}

.player__controls-duration {
  display: flex;
  font-size: 12px;
  color: #b2bec3;
}

.hidden {
  display: none;
}

.addMusicForm {
  display: flex;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .container {
    grid-template-areas: 
    "header"
    "main"
    "player";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 50px;
  }

  .sidebar {
    display: none;
  }

  .sidebar__nav-item {
    flex-direction: column;
  }

  .main {
    margin: 2em;
    width: 90%;
  }

  .preview__container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .preview__container--mini {
    width: 40%;
    height: 150px;
  }

  .preview__img {
    width: 100%;
    max-height: 450px;
  }

  .preview__playlist {
    width: 90%;
  }

  .player__info {
    display: none;
  }

  .preview__playlist-next {
    max-height: 60%;
  }
}
